<%= form_for(@events_team) do |f| %>
  <% if @events_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@events_team.errors.count, "error") %> prohibited this events_team from being saved:</h2>

      <ul>
      <% @events_team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.select(:team_id) do %>
	<% 
	  Team.all.each do |the_team| -%>
	 	<option value="<%= the_team.id %>"><%= the_team.team_name %></option>
	  <% end %>
	<% end %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br>
       <%= f.select(:event_id) do %>
	<% 
	  Event.all.each do |the_event| -%>
	 	<option value="<%= the_event.id %>"><%= the_event.event_name %></option>
	  <% end %>
	<% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
