<h1>Listing events_teams</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events_teams.each do |events_team| %>
      <tr>
        <td><% the_team = Team.find(events_team.team) %>
  		<%= the_team.team_name %>
        </td>
        <td>
          <% the_event = Event.find(events_team.event_id) %>
  		  <%= the_event.event_name %>
        </td>
        <td><%= link_to 'Show', events_team %></td>
        <td><%= link_to 'Edit', edit_events_team_path(events_team) %></td>
        <td><%= link_to 'Destroy', events_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Events team', new_events_team_path %>
