<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  	<% the_team = Team.find(@events_team.team) %>
	<%= the_team.team_name %>
</p>

<p>
  <strong>Event:</strong>
          <% the_event = Event.find(@events_team.event_id) %>
  		  <%= the_event.event_name %>
</p>

<%= link_to 'Edit', edit_events_team_path(@events_team) %> |
<%= link_to 'Back', events_teams_path %>
