<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :venue_name %><br>
    <%= f.text_field :venue_name %>
  </div>
  <div class="field">
    <%= f.label :venue_address %><br>
    <%= f.text_field :venue_address %>
  </div>
  <div class="field">
    <%= f.label :venue_state %><br>
    <%= f.text_field :venue_state %>
  </div>
  <div class="field">
    <%= f.label :venue_city %><br>
    <%= f.text_field :venue_city %>
  </div>
  <div class="field">
    <%= f.label :venue_zip %><br>
    <%= f.text_field :venue_zip %>
  </div>
  <div class="field">
    <%= f.label :venue_max_people %><br>
    <%= f.number_field :venue_max_people %>
  </div>
  <div class="field">
    <%= f.label :venue_description %><br>
    <%= f.text_field :venue_description %>
  </div>
  <div class="field">
    <%= f.label :venue_room %><br>
    <%= f.text_field :venue_room %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
