<h1>Listing venues</h1>

<table>
  <thead>
    <tr>
      <th>Venue name</th>
      <th>Venue address</th>
      <th>Venue state</th>
      <th>Venue city</th>
      <th>Venue zip</th>
      <th>Venue max people</th>
      <th>Venue description</th>
      <th>Venue room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.venue_name %></td>
        <td><%= venue.venue_address %></td>
        <td><%= venue.venue_state %></td>
        <td><%= venue.venue_city %></td>
        <td><%= venue.venue_zip %></td>
        <td><%= venue.venue_max_people %></td>
        <td><%= venue.venue_description %></td>
        <td><%= venue.venue_room %></td>
        <td><%= link_to 'Show', venue %></td>
        <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
        <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venue', new_venue_path %>
