<p id="notice"><%= notice %></p>

<p>
  <strong>Venue name:</strong>
  <%= @venue.venue_name %>
</p>

<p>
  <strong>Venue address:</strong>
  <%= @venue.venue_address %>
</p>

<p>
  <strong>Venue state:</strong>
  <%= @venue.venue_state %>
</p>

<p>
  <strong>Venue city:</strong>
  <%= @venue.venue_city %>
</p>

<p>
  <strong>Venue zip:</strong>
  <%= @venue.venue_zip %>
</p>

<p>
  <strong>Venue max people:</strong>
  <%= @venue.venue_max_people %>
</p>

<p>
  <strong>Venue description:</strong>
  <%= @venue.venue_description %>
</p>

<p>
  <strong>Venue room:</strong>
  <%= @venue.venue_room %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
