<%= form_for(@games_player) do |f| %>
  <% if @games_player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@games_player.errors.count, "error") %> prohibited this games_player from being saved:</h2>

      <ul>
      <% @games_player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.text_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :game_character_id %><br>
    <%= f.text_field :game_character_id %>
  </div>
  <div class="field">
    <%= f.label :game_character_id %><br>
    <%= f.text_field :game_character_id %>
  </div>
  <div class="field">
    <%= f.label :game_character_id %><br>
    <%= f.text_field :game_character_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
