<h1>Listing games_players</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Player</th>
      <th>Game character</th>
      <th>Game character</th>
      <th>Game character</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games_players.each do |games_player| %>
      <tr>
        <td><%= games_player.game %></td>
        <td><%= games_player.player %></td>
        <td><%= games_player.game_character %></td>
        <td><%= games_player.game_character %></td>
        <td><%= games_player.game_character %></td>
        <td><%= link_to 'Show', games_player %></td>
        <td><%= link_to 'Edit', edit_games_player_path(games_player) %></td>
        <td><%= link_to 'Destroy', games_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Games player', new_games_player_path %>
