<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @games_player.game %>
</p>

<p>
  <strong>Player:</strong>
  <%= @games_player.player %>
</p>

<p>
  <strong>Game character:</strong>
  <%= @games_player.game_character %>
</p>

<p>
  <strong>Game character:</strong>
  <%= @games_player.game_character %>
</p>

<p>
  <strong>Game character:</strong>
  <%= @games_player.game_character %>
</p>

<%= link_to 'Edit', edit_games_player_path(@games_player) %> |
<%= link_to 'Back', games_players_path %>
