<%= form_for(@events_game) do |f| %>
  <% if @events_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@events_game.errors.count, "error") %> prohibited this events_game from being saved:</h2>

      <ul>
      <% @events_game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.text_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :max_players %><br>
    <%= f.number_field :max_players %>
  </div>
  <div class="field">
    <%= f.label :max_teams %><br>
    <%= f.number_field :max_teams %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
