<h1>Listing events_games</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Event</th>
      <th>Max players</th>
      <th>Max teams</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events_games.each do |events_game| %>
      <tr>
        <td><%= events_game.game %></td>
        <td><%= events_game.event %></td>
        <td><%= events_game.max_players %></td>
        <td><%= events_game.max_teams %></td>
        <td><%= link_to 'Show', events_game %></td>
        <td><%= link_to 'Edit', edit_events_game_path(events_game) %></td>
        <td><%= link_to 'Destroy', events_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Events game', new_events_game_path %>
