<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @events_game.game %>
</p>

<p>
  <strong>Event:</strong>
  <%= @events_game.event %>
</p>

<p>
  <strong>Max players:</strong>
  <%= @events_game.max_players %>
</p>

<p>
  <strong>Max teams:</strong>
  <%= @events_game.max_teams %>
</p>

<%= link_to 'Edit', edit_events_game_path(@events_game) %> |
<%= link_to 'Back', events_games_path %>
