<h1>Listing brackets</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Player</th>
      <th>Bracket round</th>
      <th>Player</th>
      <th>Event</th>
      <th>Type</th>
      <th>Player</th>
      <th>Player</th>
      <th>Player</th>
      <th>Player</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brackets.each do |bracket| %>
      <tr>
        <td><%= bracket.player %></td>
        <td><%= bracket.player %></td>
        <td><%= bracket.bracket_round %></td>
        <td><%= bracket.player %></td>
        <td><%= bracket.event %></td>
        <td><%= bracket.type %></td>
        <td><%= bracket.player %></td>
        <td><%= bracket.player %></td>
        <td><%= bracket.player %></td>
        <td><%= bracket.player %></td>
        <td><%= bracket.player %></td>
        <td><%= link_to 'Show', bracket %></td>
        <td><%= link_to 'Edit', edit_bracket_path(bracket) %></td>
        <td><%= link_to 'Destroy', bracket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bracket', new_bracket_path %>
