<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @bracket.player %>
</p>

<p>
  <strong>Player:</strong>
  <%= @bracket.player %>
</p>

<p>
  <strong>Bracket round:</strong>
  <%= @bracket.bracket_round %>
</p>

<p>
  <strong>Player:</strong>
  <%= @bracket.player %>
</p>

<p>
  <strong>Event:</strong>
  <%= @bracket.event %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bracket.type %>
</p>

<p>
  <strong>Player:</strong>
  <%= @bracket.player %>
</p>

<p>
  <strong>Player:</strong>
  <%= @bracket.player %>
</p>

<p>
  <strong>Player:</strong>
  <%= @bracket.player %>
</p>

<p>
  <strong>Player:</strong>
  <%= @bracket.player %>
</p>

<p>
  <strong>Player:</strong>
  <%= @bracket.player %>
</p>

<%= link_to 'Edit', edit_bracket_path(@bracket) %> |
<%= link_to 'Back', brackets_path %>
