<!DOCTYPE html>
<html>
<head>
  <title>Tierbreakers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= image_tag("logo.png",size: "150x150")%>

<table>
	<tr>
		<td><a href='/tournaments' >Tournaments</a></td>
		<td><a href='/teams_tournaments' >Tournaments Teams</a></td>
		<td><a href='/events' >Events</a></td>
		<td><a href='/events_teams' >Event Teams</a></td>
		<td><a href='/events_games' >Event Games</a></td>
		<td><a href='/round_robins' >Round Robins</a></td>
		<td><a href='/players_round_robins' >Round Robins - Players</a></td>
		<td><a href='/brackets' >Brackets</a></td>
	</tr>
	<tr>
		<td><a href='/teams' >Teams</a></td>
		<td><a href='/team_players' >Team Players</a></td>
		<td><a href='/players' >Players</a></td>
		<td><a href='/games_players' >Players Games</a></td>
		<td><a href='/games' >Games</a></td>
		<td><a href='/game_characters' >Games Characters</a></td>
	</tr>
</table>
<%= yield %>

</body>
</html>
