<%= form_for(@team_player) do |f| %>
  <% if @team_player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_player.errors.count, "error") %> prohibited this team_player from being saved:</h2>

      <ul>
      <% @team_player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.text_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.text_field :player_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
