<h1>Listing team_players</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_players.each do |team_player| %>
      <tr>
        <td><%= team_player.team %></td>
        <td><%= team_player.player %></td>
        <td><%= link_to 'Show', team_player %></td>
        <td><%= link_to 'Edit', edit_team_player_path(team_player) %></td>
        <td><%= link_to 'Destroy', team_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team player', new_team_player_path %>
