<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @team_player.team %>
</p>

<p>
  <strong>Player:</strong>
  <%= @team_player.player %>
</p>

<%= link_to 'Edit', edit_team_player_path(@team_player) %> |
<%= link_to 'Back', team_players_path %>
