<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_first_name %><br>
    <%= f.text_field :player_first_name %>
  </div>
  <div class="field">
    <%= f.label :player_last_name %><br>
    <%= f.text_field :player_last_name %>
  </div>
  <div class="field">
    <%= f.label :player_email %><br>
    <%= f.text_field :player_email %>
  </div>
  <div class="field">
    <%= f.label :player_phone %><br>
    <%= f.text_field :player_phone %>
  </div>
  <div class="field">
    <%= f.label :player_login %><br>
    <%= f.text_field :player_login %>
  </div>
  <div class="field">
    <%= f.label :player_password %><br>
    <%= f.text_field :player_password %>
  </div>
  <div class="field">
    <%= f.label :player_address %><br>
    <%= f.text_field :player_address %>
  </div>
  <div class="field">
    <%= f.label :player_state %><br>
    <%= f.text_field :player_state %>
  </div>
  <div class="field">
    <%= f.label :player_city %><br>
    <%= f.text_field :player_city %>
  </div>
  <div class="field">
    <%= f.label :player_zip %><br>
    <%= f.text_field :player_zip %>
  </div>
  <div class="field">
    <%= f.label :player_image %><br>
    <%= f.text_field :player_image %>
  </div>
  <div class="field">
    <%= f.label :player_tag %><br>
    <%= f.text_field :player_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
