<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th>Player first name</th>
      <th>Player last name</th>
      <th>Player email</th>
      <th>Player phone</th>
      <th>Player login</th>
      <th>Player password</th>
      <th>Player address</th>
      <th>Player state</th>
      <th>Player city</th>
      <th>Player zip</th>
      <th>Player image</th>
      <th>Player tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.player_first_name %></td>
        <td><%= player.player_last_name %></td>
        <td><%= player.player_email %></td>
        <td><%= player.player_phone %></td>
        <td><%= player.player_login %></td>
        <td><%= player.player_password %></td>
        <td><%= player.player_address %></td>
        <td><%= player.player_state %></td>
        <td><%= player.player_city %></td>
        <td><%= player.player_zip %></td>
        <td><%= player.player_image %></td>
        <td><%= player.player_tag %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
