<p id="notice"><%= notice %></p>

<p>
  <strong>Player first name:</strong>
  <%= @player.player_first_name %>
</p>

<p>
  <strong>Player last name:</strong>
  <%= @player.player_last_name %>
</p>

<p>
  <strong>Player email:</strong>
  <%= @player.player_email %>
</p>

<p>
  <strong>Player phone:</strong>
  <%= @player.player_phone %>
</p>

<p>
  <strong>Player login:</strong>
  <%= @player.player_login %>
</p>

<p>
  <strong>Player password:</strong>
  <%= @player.player_password %>
</p>

<p>
  <strong>Player address:</strong>
  <%= @player.player_address %>
</p>

<p>
  <strong>Player state:</strong>
  <%= @player.player_state %>
</p>

<p>
  <strong>Player city:</strong>
  <%= @player.player_city %>
</p>

<p>
  <strong>Player zip:</strong>
  <%= @player.player_zip %>
</p>

<p>
  <strong>Player image:</strong>
  <%= @player.player_image %>
</p>

<p>
  <strong>Player tag:</strong>
  <%= @player.player_tag %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
