
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_name %><br>
    <%= f.text_field :event_name %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.datetime_select :event_date %>
  </div>
  <div class="field">
    <%= f.label :venue_id %><br>
    <%= f.select(:venue_id) do %>
	<% 
	  Venue.all.each do |venue| -%>
	 	<option value="<%= venue.id %>"><%= venue.venue_name %></option>
	  <% end %>
	<% end %>
  </div>
  <div class="field">
    <%= f.label :event_description %><br>
    <%= f.text_field :event_description %>
  </div>
  <div class="field">
    <%= f.label :event_image %><br>
    <%= f.text_field :event_image %>
  </div>
  <div class="field"> 
    <%= f.label :tournament_id %><br>
    <%= f.select(:tournament_id) do %>
	<% 
	  Tournament.all.each do |tourney| -%>
	 	<option value="<%= tourney.id %>"><%= tourney.tournament_name %></option>
	  <% end %>
	<% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
