<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Event name</th>
      <th>Event date</th>
      <th>Venue</th>
      <th>Event description</th>
      <th>Event image</th>
      <th>Tournament</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_name %></td>
        <td><%= event.event_date %></td>
        <td><%= event.venue_id %></td>
        <td><%= event.event_description %></td>
        <td><%= event.event_image %></td>
        <td><% the_tournament = Tournament.find(event.tournament_id) %>
  		<%= the_tournament.tournament_name %>
			</td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
