<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue_id %>
  <% the_venue = Venue.find(@event.venue_id) %>
  <%= the_venue.venue_name %>
</p>

<p>
  <strong>Event description:</strong>
  <%= @event.event_description %>
</p>

<p>
  <strong>Event image:</strong>
  <%= @event.event_image %>
</p>

<p>
  <strong>Tournament:</strong>
  <% the_tournament = Tournament.find(@event.tournament_id) %>
  <%= the_tournament.tournament_name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
