<h1>Listing players_round_robins</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Player</th>
      <th>Player</th>
      <th>Round robin</th>
      <th>Player</th>
      <th>Player</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players_round_robins.each do |players_round_robin| %>
      <tr>
        <td><%= players_round_robin.player %></td>
        <td><%= players_round_robin.player %></td>
        <td><%= players_round_robin.player %></td>
        <td><%= players_round_robin.round_robin %></td>
        <td><%= players_round_robin.player %></td>
        <td><%= players_round_robin.player %></td>
        <td><%= players_round_robin.player %></td>
        <td><%= link_to 'Show', players_round_robin %></td>
        <td><%= link_to 'Edit', edit_players_round_robin_path(players_round_robin) %></td>
        <td><%= link_to 'Destroy', players_round_robin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Players round robin', new_players_round_robin_path %>
