<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @players_round_robin.player %>
</p>

<p>
  <strong>Player:</strong>
  <%= @players_round_robin.player %>
</p>

<p>
  <strong>Player:</strong>
  <%= @players_round_robin.player %>
</p>

<p>
  <strong>Round robin:</strong>
  <%= @players_round_robin.round_robin %>
</p>

<p>
  <strong>Player:</strong>
  <%= @players_round_robin.player %>
</p>

<p>
  <strong>Player:</strong>
  <%= @players_round_robin.player %>
</p>

<p>
  <strong>Player:</strong>
  <%= @players_round_robin.player %>
</p>

<%= link_to 'Edit', edit_players_round_robin_path(@players_round_robin) %> |
<%= link_to 'Back', players_round_robins_path %>
