<%= form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tournament_name %><br>
    <%= f.text_field :tournament_name %>
  </div>
  <div class="field">
    <%= f.label :tournament_state %><br>
    <%= f.text_field :tournament_state %>
  </div>
  <div class="field">
    <%= f.label :tournamentcol_city %><br>
    <%= f.text_field :tournamentcol_city %>
  </div>
  <div class="field">
    <%= f.label :tournament_max_players %><br>
    <%= f.number_field :tournament_max_players %>
  </div>
  <div class="field">
    <%= f.label :tournament_start_date %><br>
    <%= f.datetime_select :tournament_start_date %>
  </div>
  <div class="field">
    <%= f.label :tournament_end_date %><br>
    <%= f.datetime_select :tournament_end_date %>
  </div>
  <div class="field">
    <%= f.label :tournament_reg_start %><br>
    <%= f.datetime_select :tournament_reg_start %>
  </div>
  <div class="field">
    <%= f.label :tournament_reg_end %><br>
    <%= f.datetime_select :tournament_reg_end %>
  </div>
  <div class="field">
    <%= f.label :tournament_description %><br>
    <%= f.text_field :tournament_description %>
  </div>
  <div class="field">
    <%= f.label :tournament_game_id %><br>
    <%= f.number_field :tournament_game_id %>
  </div>
  <div class="field">
    <%= f.label :tournament_image %><br>
    <%= f.text_field :tournament_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
