<h1>Listing tournaments</h1>

<table>
  <thead>
    <tr>
      <th>Tournament name</th>
      <th>Tournament state</th>
      <th>Tournamentcol city</th>
      <th>Tournament max players</th>
      <th>Tournament start date</th>
      <th>Tournament end date</th>
      <th>Tournament reg start</th>
      <th>Tournament reg end</th>
      <th>Tournament description</th>
      <th>Tournament game</th>
      <th>Tournament image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.tournament_name %></td>
        <td><%= tournament.tournament_state %></td>
        <td><%= tournament.tournamentcol_city %></td>
        <td><%= tournament.tournament_max_players %></td>
        <td><%= tournament.tournament_start_date %></td>
        <td><%= tournament.tournament_end_date %></td>
        <td><%= tournament.tournament_reg_start %></td>
        <td><%= tournament.tournament_reg_end %></td>
        <td><%= tournament.tournament_description %></td>
        <td><%= tournament.tournament_game_id %></td>
        <td><%= tournament.tournament_image %></td>
        <td><%= link_to 'Show', tournament %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
        <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament', new_tournament_path %>
