<p id="notice"><%= notice %></p>

<p>
  <strong>Tournament name:</strong>
  <%= @tournament.tournament_name %>
</p>

<p>
  <strong>Tournament state:</strong>
  <%= @tournament.tournament_state %>
</p>

<p>
  <strong>Tournamentcol city:</strong>
  <%= @tournament.tournamentcol_city %>
</p>

<p>
  <strong>Tournament max players:</strong>
  <%= @tournament.tournament_max_players %>
</p>

<p>
  <strong>Tournament start date:</strong>
  <%= @tournament.tournament_start_date %>
</p>

<p>
  <strong>Tournament end date:</strong>
  <%= @tournament.tournament_end_date %>
</p>

<p>
  <strong>Tournament reg start:</strong>
  <%= @tournament.tournament_reg_start %>
</p>

<p>
  <strong>Tournament reg end:</strong>
  <%= @tournament.tournament_reg_end %>
</p>

<p>
  <strong>Tournament description:</strong>
  <%= @tournament.tournament_description %>
</p>

<p>
  <strong>Tournament game:</strong>
  <%= @tournament.tournament_game_id %>
</p>

<p>
  <strong>Tournament image:</strong>
  <%= @tournament.tournament_image %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
