<h1>Listing round_robins</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Team</th>
      <th>Player</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @round_robins.each do |round_robin| %>
      <tr>
        <td><%= round_robin.team %></td>
        <td><%= round_robin.team %></td>
        <td><%= round_robin.player %></td>
        <td><%= round_robin.event %></td>
        <td><%= link_to 'Show', round_robin %></td>
        <td><%= link_to 'Edit', edit_round_robin_path(round_robin) %></td>
        <td><%= link_to 'Destroy', round_robin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round robin', new_round_robin_path %>
