<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @round_robin.team %>
</p>

<p>
  <strong>Team:</strong>
  <%= @round_robin.team %>
</p>

<p>
  <strong>Player:</strong>
  <%= @round_robin.player %>
</p>

<p>
  <strong>Event:</strong>
  <%= @round_robin.event %>
</p>

<%= link_to 'Edit', edit_round_robin_path(@round_robin) %> |
<%= link_to 'Back', round_robins_path %>
