<%= form_for(@game_character) do |f| %>
  <% if @game_character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_character.errors.count, "error") %> prohibited this game_character from being saved:</h2>

      <ul>
      <% @game_character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :character_name %><br>
    <%= f.text_field :character_name %>
  </div>
  <div class="field">
    <%= f.label :character_image %><br>
    <%= f.text_field :character_image %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
