<h1>Listing game_characters</h1>

<table>
  <thead>
    <tr>
      <th>Character name</th>
      <th>Character image</th>
      <th>Game</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_characters.each do |game_character| %>
      <tr>
        <td><%= game_character.character_name %></td>
        <td><%= game_character.character_image %></td>
        <td><%= game_character.game %></td>
        <td><%= link_to 'Show', game_character %></td>
        <td><%= link_to 'Edit', edit_game_character_path(game_character) %></td>
        <td><%= link_to 'Destroy', game_character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game character', new_game_character_path %>
