<p id="notice"><%= notice %></p>

<p>
  <strong>Character name:</strong>
  <%= @game_character.character_name %>
</p>

<p>
  <strong>Character image:</strong>
  <%= @game_character.character_image %>
</p>

<p>
  <strong>Game:</strong>
  <%= @game_character.game %>
</p>

<%= link_to 'Edit', edit_game_character_path(@game_character) %> |
<%= link_to 'Back', game_characters_path %>
