<%= form_for(@teams_tournament) do |f| %>
  <% if @teams_tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teams_tournament.errors.count, "error") %> prohibited this teams_tournament from being saved:</h2>

      <ul>
      <% @teams_tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.text_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :tournament_id %><br>
    <%= f.text_field :tournament_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
