<h1>Listing teams_tournaments</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Tournament</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams_tournaments.each do |teams_tournament| %>
      <tr>
        <td><%= teams_tournament.team %></td>
        <td><%= teams_tournament.tournament %></td>
        <td><%= link_to 'Show', teams_tournament %></td>
        <td><%= link_to 'Edit', edit_teams_tournament_path(teams_tournament) %></td>
        <td><%= link_to 'Destroy', teams_tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teams tournament', new_teams_tournament_path %>
