<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @teams_tournament.team %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @teams_tournament.tournament %>
</p>

<%= link_to 'Edit', edit_teams_tournament_path(@teams_tournament) %> |
<%= link_to 'Back', teams_tournaments_path %>
